html {
    font-family: "lato", "Times New Roman", Times, serif;
}
body {
    color: white;
    margin: 0;
    background-color: #1e1e1e;
    /* transform: scale(0.8);
    transform-origin: 53vw 0; */
    zoom: 85%;
}

#listing-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    margin: 3rem 0rem 1rem 0rem;
    text-align: center;
}

.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20vh;
}

.error-screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20vh;
}

#map-container {
    border-radius: 1rem;
    /* margin-left: 25%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 7px 11px -8px #000000;
}

.whole-map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#result-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.employee-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
}

.employee-container,
.client-container,
.result-headers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

li {
    margin: 0.5rem 0rem;
}
li > p {
    margin: 0rem 0.5rem;
}

.homepage-render {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#excel-dropzone {
    width: 1210px;
    height: 447px;
    flex-grow: 1;
    position: relative;
    bottom: 4px;
}

#excel-dropzone > * {
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 12px -3px #000000;
}

.title-font {
    font-variant: small-caps;
    font-style: oblique;
    font-size: 400%;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.primary-btn {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.5rem;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    background-color: #46a6dd;
    text-align: center;
    outline: none;
    border: none;
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
}

.primary-btn:hover {
    transform: translateY(-10%);
    background-color: #3781ac;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.primary-btn:active {
    transform: translateY(10%);
    transition: transform 0.1s ease-in-out;
}

.primary-homepage-btn {
    display: inline-block;
    padding: 0.9em 1.7em;
    margin: 0 0.3em 0.3em 0;
    font-size: 130%;
    border-radius: 0.5rem;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    background-color: #46a6dd;
    text-align: center;
    outline: none;
    border: none;
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
}

.primary-homepage-btn:hover {
    transform: translateY(-10%);
    background-color: #3781ac;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.primary-homepage-btn:active {
    transform: translateY(10%);
    transition: transform 0.1s ease-in-out;
}

/* .primary-btn */

#algo-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
}

.algo-container {
    margin: 4px 8px 8px 8px;
}

.map-panel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-panel-container {
    margin: 2rem 0rem 2rem 1rem;
}

.control-panel-container {
    margin: 0.5rem 1rem 0.5rem 0rem;
}

.back-btn {
    margin: 10px;
}

.algo-container:hover,
.algo-label:hover,
.algo-input:hover {
    cursor: pointer;
}

.info-panel-text {
    margin: 4px 8px 8px 8px;
}

#doc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.img-container {
    /* width: 750px;
    height: 335px; */
    border-radius: 0.5rem;
}

#excel-example {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #b5b4b3;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 12px -3px #000000;
}

#graph-example-container {
    text-align: center;
}

#graph-example {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 12px -3px #000000;
}

.homepage-text {
    background-color: #2b2b2b;
    height: auto;
    border: 2px solid white;
    border-radius: 1rem;
    flex-grow: 1;
    box-shadow: 0px 4px 12px -3px #000000;
}

#home-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    position: relative;
    left: -1rem;
}

.home-subcontainer {
    padding: 23px;
}

.extra-pad {
    padding-left: 60px;
}

#second-section-homepage {
    margin: 4rem;
}

#pics-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

#pics-container > * {
    margin: 1rem;
}

.blockquote {
    border-radius: 0.5rem;
    color: white;
    /* border-left: 10px solid #ccc; */

    padding: 0.2em 10px 2em 10px;
    /* quotes: "\201C""\201D""\2018""\2019"; */
    width: 13rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* .blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
} */

.blockquote p {
    display: inline;
    margin: 0.1rem;
    font-style: italic;
}

.second {
    font-style: italic;
}

.accordion {
    background-color: #ffffff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    width: 50%;
    font-family: "lato", "Times New Roman", Times, serif;
}

.accordion:first-of-type {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.accordion:last-of-type {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.accordion > h4 {
    padding: 1rem 0.2rem;
    margin: 0.2rem 0.2rem;
    font-size: large;
    text-align: center;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion:last-of-type.active {
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    width: 47%;
    background-color: #434242;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-left: 2px solid #000000;
}

.panel p {
    align-self: center;
    padding: 4px 3rem;
    text-align: center;
}

.panel > ul {
    display: table;
    margin: 0 auto 8px auto;
}

.p-with-ul {
    margin-bottom: 0em;
}

.developer {
    text-align: center;
    padding: 2rem 0rem 1rem 0rem;
}

span {
    font-weight: 700;
    color: #f3ae2d;
}

.error-msg {
    color: #ff2525;
}

.unassigned-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0rem 0.2rem;
    /* align-items: flex-start; */
}

.unassigned-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.unassigned-row-first {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.subtitle {
    margin: 4px 15px 8px 15px;
}

#unassigned-label:hover,
#unassigned:hover {
    cursor: pointer;
}
