html {
    font-family: "lato", "Times New Roman", Times, serif;
}
body {
    color: white;
    margin: 0;
    background-color: #1e1e1e;
}

#listing-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    margin: 3rem 0rem 1rem 0rem;
    text-align: center;
}

.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20vh;
}

#map-container {
    border-radius: 1rem;
    /* margin-left: 25%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 7px 11px -8px #000000;
}

.whole-map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#result-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.employee-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
}

.employee-container,
.client-container,
.result-headers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

li {
    margin: 0.5rem 0rem;
}
li > p {
    margin: 0rem 0.5rem;
}

.homepage-render {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#excel-dropzone {
    padding: 1rem 6.7rem 4rem 4rem;
    border-radius: 0.5rem;
    height: 40vh;
    width: 90vh;
    /* height: 30vh;
    width: 50vh;
    align-self: center;
    margin: 0; */
}

#excel-dropzone > * {
    border-radius: 1rem;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-font {
    font-variant: small-caps;
    font-style: oblique;
    font-size: 400%;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.primary-btn {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.5rem;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    background-color: #46a6dd;
    text-align: center;
    outline: none;
    border: none;
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
}

.primary-btn:hover {
    transform: translateY(-10%);
    background-color: #3781ac;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.primary-btn:active {
    transform: translateY(10%);
    transition: transform 0.1s ease-in-out;
}

/* .primary-btn */

#algo-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
}

.algo-container {
    margin: 4px 8px 8px 8px;
}

.map-panel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-panel-container {
    margin: 2rem 0rem 2rem 1rem;
}

.control-panel-container {
    margin: 2rem 1rem 2rem 0rem;
}

.back-btn {
    margin: 10px;
}

.algo-container:hover,
.algo-label:hover,
.algo-input:hover {
    cursor: pointer;
}

.info-panel-text {
    margin: 4px 8px 8px 8px;
}
